<template name="EmailSent">
    <div class="row">
        <div class="col-md-6">
            <h1>Sent</h1>
        </div>
        <div class="col-md-6 text-right">
            <input type="text"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                {{#each email}}
                {{> EmailListItem}}
                {{else}}
                <h1>You have no sent mail.</h1>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
